body {
  margin: 0;
  height: 3000px;
  padding-left: 250px;
  background-color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
  color: white;
}

.main-body{
  max-width: 1100px;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.posts {
  margin: 0;
  background-color: rgb(29, 16, 16);
  max-width: 1100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

    .post{
      width: 100%;
    }