.body-display-selector-bar{
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}
    .body-display-options{
      display: flex;
      padding: 10px 0;
      margin: 0 20px;
      font-weight: 200;
      opacity: 0.6;
      justify-content: center;
      align-items: center;
      background-color: rgb(0, 0, 0);
    }
    .body-display-options:hover{
      border-top: 2px solid white;
      font-weight: 600;
    }
    .body-display-option-text{
      margin: 0 10px;
    }