.sidebar {
  background-color: lightgray;
  position: fixed;
  width: 260px;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  column-gap: 0;
  border-right: 1px solid lightgray;
}

.instagram-logo{
  display: flex;
  height: 110px;
  padding-left: 15px;
  align-items: center;
  background-color: black;
}

.ig-logo{
  width: 120px;
}

.sidebar-tab {
  background-color: black;
  height: 54px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar-icon{
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  width: 37px;
  align-items: center;
  justify-content: center;
}

.sidebar-text{
  flex: 1;
  font-size: 15px;
  align-items: center;
  justify-content: center;
}

.last-sidebar-tab{
  flex: 1;
  background-color: black;
  display: flex;
  align-items: end;
  padding-bottom: 15px;
}

