body {
  margin: 0;
  height: 3000px;
  padding-left: 250px;
  background-color: lightblue;
}

.sidebar {
  background-color: lightgray;
  position: fixed;
  width: 245px;
  top: 0;
  left: 0;
  bottom: 0;
}

.header {
  margin-top: 0;
  background-color: lightcoral;
  height: 400px;
  max-width: 1100px;
}

.body {
  margin: 0;
  background-color: red;
  max-width: 1100px;
}